* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #14120b;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1330px;
  margin: auto;
  padding: 0 13px;
}
header {
  background-color: #14120b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7px;
  position: sticky;
  top: 0;
  padding: 12px 0;
  z-index: 1000;
}
header a {
  color: #ffffff;
}
.logo {
  display: flex;
  align-items: center;
}
.logo .icon {
  height: 25px;
}
header nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}
a {
  text-decoration: none;
  color: orangered;
}
.cta {
  display: flex;
  gap: 10px;
}
.btn {
  border: 1px solid #2e2d2d;
  background-color: #ffffff;
  color: #000000;
  border-radius: 30px;
  padding: 10px 20px;
}
.cta .secondary {
  background-color: #14120b;
  color: #ffffff;
  padding: 2px 10px;
}
.cta .primary {
  padding: 2px 10px;
}
section {
  margin: 80px 0;
}
.hero {
  margin-top: 110px;
}
.hero h2 {
  font-weight: 600;
  margin-bottom: 30px;
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
img {
  border-radius: 5px;
}
.image1 {
  width: 100%;
}
.image2 {
  position: absolute;
  width: 80%;
}
.image3 {
  position: absolute;
  width: 30%;
  top: 50%;
  right: 5%;
}
.partners {
  margin: 70px 0 100px 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
}
.partners p {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 9;
  margin-bottom: 15px;
}
.partners div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1913;
  height: 100px;
  border-radius: 7px;
  font-weight: 900;
  font-size: larger;
}
.sections {
  background-color: #1b1913;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: center;
}
.sections .images {
  grid-column: auto / span 2;
}
.sections .content h2,
.sections .content p {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 28px;
  margin: 5px 0;
}
.sections .content p {
  color: #848282;
  margin-bottom: 20px;
}
.sections .content a {
  font-size: 17px;
}
.testimonials {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}
.testimonials h1 {
  margin: 50px auto;
  grid-column: 1 / span 3;
}
.testimonials .cards {
  background-color: #1b1913;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials .user {
  display: flex;
  gap: 10px;
  margin-top: 80px;
}
.testimonials .user img {
  width: 40px;
}
.testimonials .user div span {
  color: #848282;
}
.frontier .cards,
.changelog .cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 25px 0;
}
.frontier .cards .card,
.changelog .cards .card {
  background-color: #1b1913;
  width: 100%;
  padding: 17.5px;
  font-size: 16px;
  border-radius: 5px;
}
.frontier .cards .card p,
.changelog .cards .card time {
  color: #949390;
  margin-bottom: 20px;
}
.changelog .cards .card span {
  border: 1px solid #949390;
  color: #949390;
  padding: 0px 10px;
  border-radius: 50px;
  margin-right: 5px;
}
.changelog .cards .card p {
  margin-top: 12px;
}
.frontier .cards .card img {
  width: 100%;
  margin-top: 20px;
}
.career a {
  display: inline-block;
  margin: 20px auto 55px 0;
}
.career img {
  width: 100%;
}
.blog {
  background-color: #1b1913;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  padding: 100px 20px;
  left: 0;
}
.blog .content {
  grid-column: 3/ 7;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.blog .content div {
  background-color: #201e18;
  padding: 15px;
  font-size: 17px;
  line-height: 25px;
}
.blog .content p,
.blog .content span {
  color: #949390;
}
.blog .content p {
  margin-bottom: 15px;
}
.final-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 50px 10px;
}
.final-cta h1 {
  font-size: 5rem;
  font-weight: 500;
}
footer {
  background-color: #1b1913;
  width: calc(100vw - 15px);
  position: absolute;
  left: 0;
  padding: 70px 120px 30px 120px;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
  margin-bottom: 100px;
}
.footer-section label,
.footer-bottom p {
  color: #949390;
}
.footer-section ul li {
  list-style: none;
  margin: 10px 0;
}
.footer-section ul li a {
  color: #f3f4f6;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-options label {
  background-color: #201e18;
  padding: 5px 14px;
  border-radius: 20px;
  margin: 5px;
}
.footer-options label span {
  margin: 5px;
}
